<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>{% block title %}Flask App{% endblock %}</title>
		<!-- FontAwesome icons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<!-- Custom stylesheet -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
	    <header>
			<h1 class="heading1">Asante's Webpage</h1>
	    </header>

	    <main>
			<!-- Replace with `index.html` template content -->
			{% block content %}{% endblock %}
	    </main>

	    <footer>
			<p>Built with <i class="fa-solid fa-heart" style="color: red;"></i>
			by Asante Frye</p>
			<p>Powered by <i class="fa-solid fa-flask" style="color: lime;"></i> Flask! </p>
			<!-- Icons8 credits -->
			<a target="_blank" href="https://icons8.com/icon/11686/arrow">Arrow</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
			<a target="_blank" href="https://icons8.com/icon/80684/question-mark">Question Mark</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
		</footer>
	</body>
</html>
